# Mod_Autoindex
<IfModule mod_autoindex.c>
    # Disable Indexes
    Options -Indexes
    IndexIgnore */*
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    # Enable mod_rewrite
    RewriteEngine On
    #Send all /backend requests to backend/web folder
    RewriteRule ^backend(/.*)$ backend/web/$1 [L,PT]
    #Send all /swagger requests to api/web/swagger folder

    RewriteRule ^(.*)$ frontend/web/$1
</IfModule>

